/node_modules/
https://www.nestaway.com/houses/3-bhk-fully-furnished-apartment-for-rent-only-boys-in-mahadevapura-bangalore-16593
https://www.nobroker.in/property/3-BHK-apartment-for-rent-in-Doddanekkundi-bangalore-for-rs-7700/ff8081816436975501643a70b48238f7/detail
